<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/frontend/static/frontend/style.css">
    <title>Testing</title>
</head>
<body>
<div id="app"></div>
<script src="../static/frontend/static/frontend/main.js"></script>
<script src="../static/frontend/static/frontend/jquery-3.2.1.slim.min.js"></script>
<script src="../static/frontend/static/frontend/bootstrap.min.js"></script>
</body>
</html>